In [1]:
from pyspark.sql import SparkSession
from pyspark import SparkConf

# Set the driver class path
spark_jars_packages = "/home/neosoft/Videos/mysql-connector-j-8.0.33.jar"
spark_conf = SparkConf().set("spark.driver.extraClassPath", spark_jars_packages)

# Create the SparkSession with the configured SparkConf
spark = SparkSession.builder.config(conf=spark_conf).getOrCreate()


jdbc_url = "jdbc:mysql://localhost:3306/my_db"
properties = {
    "user": "root",
    "password": "root",
    "driver": "com.mysql.cj.jdbc.Driver"
}
table_name = 'Customers'
df = spark.read.jdbc(jdbc_url, table_name, properties=properties)

# Process your DataFrame or perform other operations

23/07/03 15:13:02 WARN Utils: Your hostname, neosoft-Latitude-E5270 resolves to a loopback address: 127.0.1.1; using 10.0.29.173 instead (on interface enp0s31f6)
23/07/03 15:13:02 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/07/03 15:13:03 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [7]:
table_name = 'Customers'
df1 = spark.read.jdbc(jdbc_url, table_name, properties=properties)
df1.show()

+-----------+----------+---------+---+-------+
|customer_id|first_name|last_name|age|country|
+-----------+----------+---------+---+-------+
|          1|      John|      Doe| 31|    USA|
|          2|    Robert|     luna| 22|    USA|
|          3|     David|  Robison| 22|     UK|
|          4|      jOhn|Reinhardt| 25|     UK|
|          5|     James|     Bond| 48|    USA|
|          6|    Nikita|     Neti| 24|  India|
+-----------+----------+---------+---+-------+

In [8]:
table_name = 'Orders'
df2 = spark.read.jdbc(jdbc_url, table_name, properties=properties)
df2.show()

+--------+---------+--------+------+-----------+
|order_id|     item|quantity|amount|customer_id|
+--------+---------+--------+------+-----------+
|       1| Keyboard|       2|   400|          4|
|       2|    Mouse|       3|   300|          4|
|       3|  Monitor|       2| 12000|          3|
|       4|Keyborard|       3|   400|          1|
|       5| Mousepad|       1|   250|          2|
+--------+---------+--------+------+-----------+

In [9]:
filtered_df = df1.filter(df1.age > 30)
filtered_df.show()

+-----------+----------+---------+---+-------+
|customer_id|first_name|last_name|age|country|
+-----------+----------+---------+---+-------+
|          1|      John|      Doe| 31|    USA|
|          5|     James|     Bond| 48|    USA|
+-----------+----------+---------+---+-------+

In [10]:
output_path = "/home/neosoft/Documents/Assignment_airflow/result.csv"

In [11]:
filtered_df.write.csv(output_path, header=True)